@mixin button-appearance($background-color, $border-color: '', $color: '', $box-shadow: '') {
  background: $background-color;

  @if $border-color != '' {
    border-color: $border-color;
  }

  @if $color != '' {
    color: $color;
  }

  @if $box-shadow != '' {
    box-shadow: $box-shadow;
  }
}

:host {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: inline-flex;
  max-width: 100%;

  background-color: var(--color-button-background);
  border: 1px solid var(--color-button-border);
  border-radius: 8px;
  outline: none;
  color: var(--color-text-primary);

  padding: 4px 10px;

  transition:
    background-color 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;

  &:disabled {
    cursor: not-allowed;

    @include button-appearance(var(--color-button-background), var(--color-gray-100), var(--color-gray-200), '');
  }

  &:focus-visible:not(:disabled) {
    box-shadow: var(--focus-shadow);
  }

  &:hover:not(:disabled) {
    @include button-appearance(
      var(--color-button-hover),
      var(--color-button-border),
      var(--color-text-primary),
      var(--focus-shadow)
    );
  }

  &:active:not(:disabled) {
    @include button-appearance(var(--color-button-active), '', var(--color-text-primary), none);
  }
}
