:host {
  cursor: pointer;

  position: relative;

  display: inline-block;
  align-items: center;
  justify-content: space-between;

  text-decoration: none;
  text-underline-offset: 0.3em;
  color: var(--color-primary);

  &:hover {
    color: var(--color-link-hover);
  }

  &:active {
    color: var(--primary-color-focused);
  }

  &:focus-visible {
    outline: 2px solid;
  }
}
