<header class="header">
  <h1 class="heading">Welcome to Disney characters App</h1>
  <p class="subheading">Here you can get information on Disney characters.</p>
</header>

@for (character of $list(); track character._id) {
<characters-list-item
  [character]="character"
  [isLoading]="$isListLoading()"
  (click)="onCharacterClick(character)"
/>
}

<characters-list-pagination
  [currentPage]="$currentPage()"
  [totalPages]="$totalPages()"
  [nextPageUrl]="$nextPageUrl()"
  [previousPageUrl]="$previousPageUrl()"
  (nextPageClicked)="onNextPageClick()"
  (previousPageClicked)="onPreviousPageClick()"
/>
