@if ($isLoading()) {
<div class="skeleton"></div>
} @else {
<div class="card">
  <div class="basic-info">
    <div class="img-preview">
      @if ($character().imageUrl) {
      <img [ngSrc]="$character().imageUrl" [alt]="$character().name" fill />
      } @else {
      <img
        [src]="placeholderImage"
        [alt]="$character().name"
        class="placeholder-img"
      />
      }
    </div>
    <span class="name">{{ $character().name }}</span>
  </div>

  <div class="additional-info">
    <span>Films:</span>
    <div class="additional-info__films-label">{{ $filmsLabel() }}</div>
  </div>
</div>
}
